# Django
SECRET_KEY=your-secret-key-here
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
VITE_TELE_WS_URL=ws://localhost:8080

# PostgreSQL
DB_NAME=medicore_db
DB_USER=postgres
DB_PASSWORD=Chineke50
DB_HOST=localhost
DB_PORT=5432

# Redis (for Channels + Celery)
REDIS_URL=redis://localhost:6379/0

# JWT
JWT_ACCESS_TOKEN_LIFETIME_MINUTES=60
JWT_REFRESH_TOKEN_LIFETIME_DAYS=7

# Email
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_HOST_USER=noreply@medicore.ng
EMAIL_HOST_PASSWORD=app-password-here
